/.env.rb
/.db.*.sqlite3
*~
/public/assets/assets-precompiled.json
/public/assets/*.????????????????????????*.js
/public/assets/*.????????????????????????*.js.gz
/public/assets/*.????????????????????????*.css
/public/assets/*.????????????????????????*.css.gz